*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 1px solid red;
}

body {
  width: 1100px;
  margin: 0 auto;
  padding: 0 50px;
  color: #fff;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
