.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
 }

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 93px 50px 89px;
  font-size: 18px;
  line-height: 135%;
}

.header__links-list {
  display: flex;
  column-gap: 33px;
  list-style: none;
}

.header__link {
  display: inline-block;
  padding-bottom: 6px;
  text-underline-offset: 3px;
}

.header__links-list-item a.header-link_active {
  text-decoration: none;
}

.header__links-list-item_circle {
  list-style: circle;
}
.header__logo {
  display: block;
  width: 136px;
}

.address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  font-style: normal;
}

.address a {
  text-underline-offset: 3px;
}

.header__address {
  justify-self: end;
  padding-bottom: 6px;
}

.cover {
  position: relative;
  z-index: 0;
  min-height: 757px;
  padding: 165px 50px 50px;
  color:#fff;
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: -140px center;
  background-size: 125%;
}

.cover__title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  margin-right: -0.3em;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-content: end;
  padding-top: 107px;
  font-size: 22px;
}

.cover__description-text {
  align-self: center;
  word-spacing: 0.85em;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 31px 12px 32px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  background: none;
}

.lots {
  padding: 180px 24px 0;
}

.lots__heading {
  display: block;
  padding: 12px 0 38px 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;

}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline solid #fff 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.lots__look-more-link {
  display: block;
  padding-top: 30px;
  padding-left: 40px;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}
