.text-underline-normal {
  text-underline-position: under;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 93px 50px 89px;
  font-size: 18px;
  line-height: 135%;
}

.header__links-list {
  list-style: none;
  display: flex;
  gap: 33px;
}

.header__link {
  display: inline-block;
  padding-bottom: 6px;
}

.header__links-list-item a.header-link_active {
  text-decoration: none;
}

.header__links-list-item_circle {
  list-style: circle;
}
.header__logo {
  display: block;
  width: 136px;
}

.address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  font-style: normal;
}

.header__address {
  justify-self: end;
  padding-bottom: 6px;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: 125%;
  background-position: -140px center;
  z-index: 0;
  color:#fff;
  text-transform: uppercase;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  margin-right: -0.3em;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgb(0 0 0 / 0.6);
  width: 100%;
  height: 100%;
 }

.cover__description {
  padding-top: 107px;
  display: flex;
  justify-content: space-between;
  align-content: end;
  font-size: 22px;
}

.cover__description-text {
  align-self: center;
  word-spacing: 0.85em;
}

.bet-button{
  background: none;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px 31px 12px 32px;
}